<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Home</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="Loans">Loans</a>
    <a href="Books">Books</a>
    <a href="Customers">Customers</a>
  </div>

  <div class="content">
    <h2>Welcome to My Library</h2>
    <p>Welcome to our library management system. Here, you can easily manage your library's collection of books, loans,
      and customers.</p>

    <h3>Available Actions</h3>
    <ul>
      <li><a href="Loans">Manage Loans</a> - View and manage loans made by customers.</li>
      <li><a href="Books">Manage Books</a> - Add, edit, or remove books from your library's collection.</li>
      <li><a href="Customers">Manage Customers</a> - Add and update customer information.</li>
    </ul>

    <h3>Contact Us</h3>
    <p>If you have any questions, feedback, or need assistance, please don't hesitate to contact us:</p>
    <ul>
      <li>Email: <a href="moshelubetski@gmail.com">moshelubetski@gmail.com</a></li>
      <li>Phone: 0544-22-0002</li>
    </ul>

    <h3>About Us</h3>
    <p>We are dedicated to providing a seamless library experience for both staff and patrons. If you have any questions
      or need assistance, please feel free to contact us.</p>
  </div>

</body>

</html>